@keyframes ending{
    0%{
        transform: translateX(-50%) rotate(240deg) scale(5);
        margin-top: 34%;
    }
    10% {
        transform: translateX(-50%) rotate(240deg) scale(5);
        margin-top: 2.5%;
    }
    50%{
        transform: translateX(-50%) rotate(720deg) scale(5);
        margin-top: 2.5%;
    }
    100%{
        transform: translateX(-50%) translateY(25%) rotate(720deg) scale(0.3);
        margin-top: 2.5%;
    }
}